.user-profile{
    display:grid;
    grid-template-columns: 3fr 7fr;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.user-info{
    display: flex;
    flex-direction: column;
    background-color: #A8D0E6;
    border-radius: 10px;
    margin-top:70px;
    margin-left: 20px;
    padding: 20px 10px;
}

.surveys{
    display: flex;
    flex-direction:column;
    margin: 70px;
}

.survey-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20px;
  }

  .survey-list li {
    background-color: #FFFFFF; 
    padding: 20px; 
    border: 5px solid #252828;
    border-radius: 10px; 
    width: 200px; 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
  }

  .logout{
    border:none;
    background-color: #474A4A;
    color:#FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 20px;
  }

    .logout:hover{
        background-color: #252828;
        color:#FFFFFF;
    }

    .user-edit {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .edit {
      width: 20px;
      height: 20px;
      margin-left: 200px;
      object-fit: contain;
      transition: transform 0.1s ease;
    }

    .edit:active {
      transform: scale(0.9);
    }
    
    .modal{
      display: flex;
      width: 50%;
      height: 600px;
      background-color: #A8D0E6;
      border-radius: 10px;
      margin: auto;
      margin-top: 50px;
      padding: 20px;
      overflow: auto;
    }

    .user-info p{
      margin: 5px;
    }

    .save{
      border:none;
      background-color: #474A4A;
      color:#FFFFFF;
      padding: 10px 20px;
      border-radius: 10px;
      margin-top: 20px;
    }

    .save:hover{
      background-color: #252828;
      color:#FFFFFF;
  }

  