.surveys-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.surveys-list li {
    background-color: #FFFFFF; 
    padding: 20px; 
    border: 5px solid #252828;
    border-radius: 10px; 
    width: 200px; 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
  }

  .search-inp {
    padding: 10px;
    width: 95%;
    border: 1px solid #252828; 
    font-size: 16px; 
    border-radius: 10px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.1s ease;
    padding:10px;
  }
  
  .search-icon:active {
    transform: translateY(-50%) scale(0.9);
  }
  .search-container {
    position: relative;
    width: 300px;
    padding: 10px;
    margin-top: 60px;
    margin-left: 25px;
    border-radius: 5px; 
    font-size: 16px;
  }