body {
  width: 100%;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #A8D0E6;
  justify-content: flex-end;
}
  
nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding-right: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #252828;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

nav ul li a:hover {
  color: #FFFFFF;
  background-color: #252828;
  padding: 5px 10px;
  border-radius: 5px;
}

